<div id="contentContainer">
  <%= render 'layouts/side_bar' %>

  <div id="content">
    <div id="s_layout">

      <div class="s_box">
        <div class="s_center_img">
          <div class="s_wrap_img">
            <%= image_tag( @picture.asset.url(:h_large), id: 's_img' ) %>

            <% if !@picture.video.blank? %>
            <div class="s_video_tag">
              <%= link_to 'Video', @picture.video, target: '_blank' %>
            </div>
            <% end %>

          </div>
        </div>
      </div>

      <div class="s_footer">
        <div class= "s_footer_inner">
          <%= link_to( image_tag('work_prev.png'), picture_path(@picture.prev_pic) ) %>
          <span><%= @picture.seq + 1 %></span>
          <span>/</span>
          <span><%= @picture.max_seq + 1 %></span>
          <%= link_to( image_tag('work_next.png'), picture_path(@picture.next_pic) ) %>
        </div>
      </div>

    </div>
  </div>

</div>
