<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body <%= "id=start" if @is_index %>>

  <div id="head">
    <%= link_to( image_tag('esptc_logo.png', id: :logo), root_path ) %>
    <ul class="menu">
      <% @jobs.each do |job| %>
      <li <%= "class=active" if current_job?(job) %> >
        <%= link_to job.name, job_path(job) %>
      </li>
      <% end %>
      <li id="last">
        <span>Info / Contact</span>
      </li>
    </ul>
  </div>

<%= yield %>

  <div id="footer">
    <p>&copy; Copyright ESPTC</p>
  </div>

</body>
</html>
